.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 640;
  background: rgba(0, 27, 32, 0.602);
  color: #FFFFFF;
  width: 100%;
  background-image: url(public/images/dust.png);
}

