nav {
  display:flex ;
  height: 120px;
  width: 100vw; 
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  font-family: 'Bungee', cursive;
  position: fixed;
  
}

 nav span {
  margin-left: 1.5em;
 }

 .nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  font-family: 'Source Sans Pro', sans-serif;
 }

 .fa-solid.fa-angles-down{
  color: red;
  animation: float 2.5s ease-in-out infinite;
 }

 @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

