nav {
  display: flex;
  height: 120px;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  background-color: #b87b00;
}

 .nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f4f1ec;
 }

 nav .nav-right button{
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2em;
  width: 100%;
}

 nav .nav-right button p{
  margin: 0;
}


 nav .nav-right button i{
  color: red;
  animation: float 3s ease-in-out infinite;
  display: flex;
  justify-content: center;
}

 @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
 }




